@import "variables";
@import "header";
@import "cab-info";
@import "tariffs";
@import "features";
@import "download";
@import "clients";
@import "call";
@import "footer";

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Lato;

  &:hover {
    cursor: default;
  }
}

.container {
  margin: 0 auto;
  width: 1193px;
  text-align: center;
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 1.94em;
  color: var(--orange-color);
}

h3 {
  font-size: 1.69em;
}

h4 {
  font-size: 1.4em;
  color: var(--orange-color);
}

h5 {
  font-size: 1.1em;
  color: var(--orange-color);
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}

.btn {
  box-sizing: border-box;
  border: none;
  color: #000;
  text-transform: uppercase;
  font-size: 1.64em;
  font-family: "Bebas Neue";
  padding: 5px 30px;
  border-radius: 5px;
  background-color: var(--orange-color);
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(1.05);
  }
}

:focus {
  outline: none;
}