.cab-info {
  box-sizing: border-box;
  padding: 140px 0 80px 0;
  background-color: var(--orange-color);

  .container {
    display: flex;
    justify-content: space-between;

    .about-cab {
      flex: 0 0 560px;
      text-align: left;

      h2 {
        color: #000;
      }

      .btn {
        background-color: #000;
        color: #fff;
      }
    }

    .form {
      flex: 0 0 420px;
      text-align: left;
      background-color: #fff;
      height: 574px;

      .form-header {
        box-sizing: border-box;
        padding-left: 33px;
        width: 100%;
        height: 77px;
        background-color: #000;
        display: flex;
        align-items: center;

        h2 {
          color: #fff;

          span {
            color: var(--orange-color);
          }
        }
      }

      .form-line-info {
        box-sizing: border-box;
        margin: 30px 0 30px 33px;
        width: 354px;
        border-bottom: 2px solid #e4e4e4;
        font-size: 1.2em;
        display: flex;
        justify-content: space-between;
      }

      .form-line-info + .form-line-info {
        margin-top: 0;
      }

      form {
        box-sizing: border-box;
        padding: 15px 33px 0 33px;
        width: 100%;
        background-color: #fff;

        .form-line {
          margin-bottom: 15px;
          width: 100%;
          height: 74px;
          display: flex;
          justify-content: space-between;

          .input-container {
            width: 48%;

            input {
              height: 50px;
              flex: 0 0 auto;
              width: 100%;
              border: none;
              border-bottom: 2px solid #e4e4e4;
              font-size: 1.1em;
              color: #000;

              &::-webkit-input-placeholder {
                color: #000;
                opacity: 1;
                transition: opacity 0.3s ease;
              }

              &:focus {
                &::-webkit-input-placeholder {
                  opacity: 0;
                  transition: opacity 0.3s ease;
                }
              }
            }

            input[type="date"] {
              position: relative;

              &::-webkit-inner-spin-button {
                display: none;
              }

              &::-webkit-calendar-picker-indicator {
                opacity: 0;
              }
              &::before {
                content: "";
                background: url("../assets/images/calendar.svg") no-repeat top center;
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                right: 3px;
                top: 14px;
              }
            }

            .error {
              display: flex;
              align-items: center;
              padding-left: 5px;
              font-size: 0.8em;
              color: #fff;
              box-sizing: border-box;
              width: 100%;
              height: 20px;
              border-radius: 0 0 5px 5px;
              text-align: left;
              background-color: #ff2c42;
            }
          }

          .select-container {
            width: 100%;
            display: flex;
            flex-direction: column;

            select {
              height: 50px;
              width: 100%;
              border: none;
              border-bottom: 2px solid #e4e4e4;
              font-size: 1.1em;
            }

            .error {
              display: flex;
              align-items: center;
              padding-left: 5px;
              font-size: 0.8em;
              color: #fff;
              box-sizing: border-box;
              width: 100%;
              height: 20px;
              border-radius: 0 0 5px 5px;
              text-align: left;
              background-color: #ff2c42;
            }
          }




        }

        .btn {
          width: 100%;
          color: #fff;
          background-color: #000;
          margin: 40px 0 20px 0;
        }
      }
    }

    .form.plate {
      height: auto;
    }
  }
}