.download {
  box-sizing: border-box;
  padding: var(--top-padding) 0 0 0;

  .download-main-content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;

    .app-info {
      flex: 0 0 440px;
      text-align: left;

      h4 {
        text-transform: none;
        color: #000;
      }

      .link-container {
        margin-top: 55px;
        display: flex;
        justify-content: space-between;
      }
    }

    .download-image-container {
      height: 466px;
    }
  }
}