footer {
  box-sizing: border-box;
  padding: var(--top-padding) 0 var(--bottom-padding) 0;
  background: url("../assets/images/footer-bg.jpg") no-repeat top center;
  background-size: cover;

  .container {
    display: flex;
    justify-content: space-between;

    .footer-item {
      flex: 0 0 340px;
      position: relative;

      text-align: left;
      color: #fff;
      
      h4 {
        color: #fff;
        margin-bottom: 80px;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 8px;
        top: 65px;
        background-color: var(--orange-color);
      }
    }

    .about {

      .social-links {
        width: 140px;
        display: flex;
        justify-content: space-between;

        a {
          flex: 0 0 auto;
          display: block;
          width: 26px;
          height: 26px;
          background-image: url("../assets/images/sprite.png");
          transition: opacity .3s ease, transform .2s ease;

          &:hover {
            opacity: 0.5;
          }

          &:active {
            transform: scale(0.9);
          }
        }

        .social-1 {
          background-position: -20px -232px;
        }

        .social-2 {
          background-position: -20px -273px;
        }

        .social-3 {
          background-position: -19px -313px;
        }
      }
    }

    .download-footer-item {
      display: flex;
      justify-content: space-between;
      width: 185px;
      margin-bottom: 10px;

      a {
        display: block;
        width: 25px;
        height: 30px;
        background-image: url("../assets/images/sprite.png");
        transition: opacity .3s ease, transform .2s ease;

        &:hover {
          opacity: 0.5;
        }

        &:active {
          transform: scale(0.9);
        }
      }

      .android {
        background-position: -19px -354px;
      }

      .ios {
        background-position: -19px -405px;
      }
    }

    .contact {

      .contact-item {
        display: flex;
        margin-bottom: 20px;

        .ico-container {
          flex: 0 0 auto;
          margin-right: 25px;
          width: 20px;
          height: 25px;
          background-image: url("../assets/images/sprite.png");
        }

        .ico-container-1 {
          background-position: -18px -588px;
        }

        .ico-container-2 {
          background-position: -18px -453px;
        }

        .ico-container-3 {
          background-position: -18px -500px;
        }

        .ico-container-4 {
          background-position: -16px -548px;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}