.features {
  box-sizing: border-box;
  padding: var(--top-padding) 0 var(--bottom-padding) 0;
  background: url("../img/features-bg.jpg") no-repeat top center;
  background-size: cover;

  h1 {
    color: #fff;
  }

  .btn {
    margin: 50px 0 0 0;
  }

  .features-main-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .features-item {
      margin: 20px 0;
      flex: 0 0 520px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .ico-container {
        flex: 0 0 auto;
        margin-right: 30px;
        width: 80px;
        height: 80px;
        background-color: var(--orange-color);
        border-radius: 50%;
      }

      .info {
        text-align: left;

        p {
          color: #fff;
        }
      }
    }
  }
}