.cab-info {
  box-sizing: border-box;
  padding: 140px 0 80px 0;
  background-color: var(--orange-color); }
  .cab-info .container {
    display: flex;
    justify-content: space-between; }
    .cab-info .container .about-cab {
      flex: 0 0 560px;
      text-align: left; }
      .cab-info .container .about-cab h2 {
        color: #000; }
      .cab-info .container .about-cab .btn {
        background-color: #000;
        color: #fff; }
    .cab-info .container .form {
      flex: 0 0 420px;
      text-align: left;
      background-color: #fff; }
      .cab-info .container .form .form-header {
        box-sizing: border-box;
        padding-left: 33px;
        width: 100%;
        height: 77px;
        background-color: #000;
        display: flex;
        align-items: center; }
        .cab-info .container .form .form-header h2 {
          color: #fff; }
          .cab-info .container .form .form-header h2 span {
            color: var(--orange-color); }
      .cab-info .container .form .form-line-info {
        box-sizing: border-box;
        margin: 30px 0 30px 33px;
        width: 354px;
        border-bottom: 2px solid #e4e4e4;
        font-size: 1.2em;
        display: flex;
        justify-content: space-between; }
      .cab-info .container .form .form-line-info + .form-line-info {
        margin-top: 0; }
      .cab-info .container .form form {
        box-sizing: border-box;
        padding: 15px 33px 0 33px;
        width: 100%;
        background-color: #fff; }
        .cab-info .container .form form .form-line {
          margin-bottom: 15px;
          width: 100%;
          display: flex;
          justify-content: space-between; }
          .cab-info .container .form form .form-line input {
            height: 50px;
            flex: 0 0 auto;
            width: 48%;
            border: none;
            border-bottom: 2px solid #e4e4e4;
            font-size: 1.1em;
            color: #000; }
            .cab-info .container .form form .form-line input::-webkit-input-placeholder {
              color: #000;
              opacity: 1;
              transition: opacity 0.3s ease; }
            .cab-info .container .form form .form-line input:focus::-webkit-input-placeholder {
              opacity: 0;
              transition: opacity 0.3s ease; }
          .cab-info .container .form form .form-line select {
            height: 50px;
            width: 100%;
            border: none;
            border-bottom: 2px solid #e4e4e4;
            font-size: 1.1em; }
        .cab-info .container .form form .btn {
          width: 100%;
          color: #fff;
          background-color: #000;
          margin: 40px 0 20px 0; }
