:root {
  --orange-color: #ffc61a;
  --top-padding: 60px;
  --bottom-padding: 80px; }

header {
  box-sizing: border-box;
  padding: 40px 0;
  background: url("../assets/images/bg-header.jpg") no-repeat top center;
  background-size: cover; }
  header .header {
    box-sizing: border-box;
    padding: 0 75px;
    display: flex;
    justify-content: space-between; }
    header .header .logo {
      color: #fff;
      font-weight: bold;
      flex: 0 0 auto;
      text-decoration: none; }
      header .header .logo:hover {
        cursor: pointer; }
      header .header .logo h1 {
        margin: 0;
        font-size: 2.24em; }
        header .header .logo h1 span {
          color: var(--orange-color);
          text-transform: uppercase; }
      header .header .logo p {
        margin: 0;
        font-size: 0.83em;
        letter-spacing: 0.23em;
        text-transform: uppercase; }
    header .header nav {
      width: 410px;
      flex: 0 0 auto;
      font-size: 0.94em;
      text-transform: uppercase; }
      header .header nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none; }
        header .header nav ul li {
          box-sizing: border-box;
          padding: 0 5px;
          height: 30px;
          display: flex;
          align-items: center;
          border-radius: 20px;
          transition: all .3s ease; }
          header .header nav ul li:hover {
            background-color: var(--orange-color); }
            header .header nav ul li:hover a {
              color: #000; }
          header .header nav ul li a {
            color: #fff;
            font-weight: bold;
            text-decoration: none; }
  header .container h1 {
    margin: 0 0 40px 0;
    color: #fff;
    font-size: 4.01em; }
  header .container h2 {
    margin: 0;
    color: var(--orange-color);
    font-size: 1.99em;
    text-transform: uppercase; }
  header .container .img-container {
    height: 484px;
    margin-bottom: -160px; }

.cab-info {
  box-sizing: border-box;
  padding: 140px 0 80px 0;
  background-color: var(--orange-color); }
  .cab-info .container {
    display: flex;
    justify-content: space-between; }
    .cab-info .container .about-cab {
      flex: 0 0 560px;
      text-align: left; }
      .cab-info .container .about-cab h2 {
        color: #000; }
      .cab-info .container .about-cab .btn {
        background-color: #000;
        color: #fff; }
    .cab-info .container .form {
      flex: 0 0 420px;
      text-align: left;
      background-color: #fff; }
      .cab-info .container .form .form-header {
        box-sizing: border-box;
        padding-left: 33px;
        width: 100%;
        height: 77px;
        background-color: #000;
        display: flex;
        align-items: center; }
        .cab-info .container .form .form-header h2 {
          color: #fff; }
          .cab-info .container .form .form-header h2 span {
            color: var(--orange-color); }
      .cab-info .container .form .form-line-info {
        box-sizing: border-box;
        margin: 30px 0 30px 33px;
        width: 354px;
        border-bottom: 2px solid #e4e4e4;
        font-size: 1.2em;
        display: flex;
        justify-content: space-between; }
      .cab-info .container .form .form-line-info + .form-line-info {
        margin-top: 0; }
      .cab-info .container .form form {
        box-sizing: border-box;
        padding: 15px 33px 0 33px;
        width: 100%;
        background-color: #fff; }
        .cab-info .container .form form .form-line {
          margin-bottom: 15px;
          width: 100%;
          display: flex;
          justify-content: space-between; }
          .cab-info .container .form form .form-line .input-container {
            width: 48%; }
            .cab-info .container .form form .form-line .input-container input {
              height: 50px;
              flex: 0 0 auto;
              width: 100%;
              border: none;
              border-bottom: 2px solid #e4e4e4;
              font-size: 1.1em;
              color: #000; }
              .cab-info .container .form form .form-line .input-container input::-webkit-input-placeholder {
                color: #000;
                opacity: 1;
                transition: opacity 0.3s ease; }
              .cab-info .container .form form .form-line .input-container input:focus::-webkit-input-placeholder {
                opacity: 0;
                transition: opacity 0.3s ease; }
            .cab-info .container .form form .form-line .input-container .error {
              display: flex;
              align-items: center;
              padding-left: 5px;
              font-size: 0.8em;
              color: #fff;
              box-sizing: border-box;
              width: 100%;
              height: 20px;
              border-radius: 0 0 5px 5px;
              text-align: left;
              background-color: #ff2c42; }
          .cab-info .container .form form .form-line .select-container {
            width: 100%;
            display: flex;
            flex-direction: column; }
            .cab-info .container .form form .form-line .select-container select {
              height: 50px;
              width: 100%;
              border: none;
              border-bottom: 2px solid #e4e4e4;
              font-size: 1.1em; }
            .cab-info .container .form form .form-line .select-container .error {
              display: flex;
              align-items: center;
              padding-left: 5px;
              font-size: 0.8em;
              color: #fff;
              box-sizing: border-box;
              width: 100%;
              height: 20px;
              border-radius: 0 0 5px 5px;
              text-align: left;
              background-color: #ff2c42; }
        .cab-info .container .form form .btn {
          width: 100%;
          color: #fff;
          background-color: #000;
          margin: 40px 0 20px 0; }

.tariffs {
  box-sizing: border-box;
  padding: var(--top-padding) 0 var(--bottom-padding) 0; }
  .tariffs .tariffs-main-content {
    margin-top: 130px;
    display: flex;
    justify-content: space-between; }
    .tariffs .tariffs-main-content .tariffs-item {
      flex: 0 0 370px;
      background-color: #f5f4f2;
      transition: background-color .3s ease; }
      .tariffs .tariffs-main-content .tariffs-item img {
        margin-top: -85px; }
      .tariffs .tariffs-main-content .tariffs-item h1 {
        color: var(--orange-color);
        transition: color .3s ease; }
      .tariffs .tariffs-main-content .tariffs-item .btn {
        margin: 35px 0 25px 0;
        transition: all .3s ease; }
      .tariffs .tariffs-main-content .tariffs-item:hover {
        background-color: var(--orange-color);
        cursor: pointer; }
        .tariffs .tariffs-main-content .tariffs-item:hover h1 {
          color: #000; }
        .tariffs .tariffs-main-content .tariffs-item:hover .btn {
          background-color: #000;
          color: #fff; }
  .tariffs .tariffs-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .tariffs .tariffs-container .nameplate {
      box-sizing: border-box;
      padding: 10px 20px;
      margin: 40px 0 60px 0;
      width: 500px;
      height: 240px;
      box-shadow: 0 0 10px #000;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .tariffs .tariffs-container .nameplate .nameplate-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex: 0 0 auto;
        height: 70px; }
        .tariffs .tariffs-container .nameplate .nameplate-group .input-container {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column; }
          .tariffs .tariffs-container .nameplate .nameplate-group .input-container input {
            box-sizing: border-box;
            width: 100%;
            height: 50%;
            font-size: 1em;
            padding-left: 5px; }
            .tariffs .tariffs-container .nameplate .nameplate-group .input-container input:invalid {
              background-color: #ff2c42; }
            .tariffs .tariffs-container .nameplate .nameplate-group .input-container input:focus {
              outline: none; }
          .tariffs .tariffs-container .nameplate .nameplate-group .input-container .error {
            display: flex;
            align-items: center;
            padding-left: 5px;
            font-size: 1em;
            color: #fff;
            box-sizing: border-box;
            width: 100%;
            height: 35px;
            border-radius: 0 0 5px 5px;
            text-align: left;
            background-color: #ff2c42; }
      .tariffs .tariffs-container .nameplate .nameplate-group.error-group {
        justify-content: flex-end; }
        .tariffs .tariffs-container .nameplate .nameplate-group.error-group span {
          width: 50%; }
      .tariffs .tariffs-container .nameplate .btn {
        flex: 0 0 auto;
        width: 120px; }
    .tariffs .tariffs-container .steps-container {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .tariffs .tariffs-container .steps-container .step {
        background-color: #8a8985;
        height: 2px;
        width: 24.5%; }
      .tariffs .tariffs-container .steps-container .step.done {
        background-color: var(--orange-color); }

.features {
  box-sizing: border-box;
  padding: var(--top-padding) 0 var(--bottom-padding) 0;
  background: url("../assets/images/features-bg.jpg") no-repeat top center;
  background-size: cover; }
  .features h1 {
    color: #fff; }
  .features .btn {
    margin: 50px 0 0 0; }
  .features .features-main-content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .features .features-main-content .features-item {
      margin: 20px 0;
      flex: 0 0 520px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      .features .features-main-content .features-item .ico-container {
        flex: 0 0 auto;
        margin-right: 30px;
        width: 70px;
        height: 70px;
        background-color: var(--orange-color);
        border-radius: 50%;
        background-image: url("../assets/images/sprite.png"); }
      .features .features-main-content .features-item .ico-container-1 {
        background-position: 1px 22px; }
      .features .features-main-content .features-item .ico-container-2 {
        background-position: 2px -78px; }
      .features .features-main-content .features-item .ico-container-3 {
        background-position: 1px -27px; }
      .features .features-main-content .features-item .ico-container-4 {
        background-position: 1px -129px; }
      .features .features-main-content .features-item .info {
        text-align: left; }
        .features .features-main-content .features-item .info p {
          color: #fff; }

.download {
  box-sizing: border-box;
  padding: var(--top-padding) 0 0 0; }
  .download .download-main-content {
    margin-top: 70px;
    display: flex;
    justify-content: space-between; }
    .download .download-main-content .app-info {
      flex: 0 0 440px;
      text-align: left; }
      .download .download-main-content .app-info h4 {
        text-transform: none;
        color: #000; }
      .download .download-main-content .app-info .link-container {
        margin-top: 55px;
        display: flex;
        justify-content: space-between; }
    .download .download-main-content .download-image-container {
      height: 466px; }

.clients {
  box-sizing: border-box;
  padding: var(--top-padding) 0 var(--bottom-padding) 0;
  background: url("../assets/images/clients-bg.jpg") no-repeat top center;
  background-size: cover; }
  .clients h1 {
    color: #fff; }
  .clients .clients-main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 90px; }
    .clients .clients-main-content .clients-item {
      box-sizing: border-box;
      padding: 30px;
      flex: 0 0 580px;
      background-color: #000;
      text-align: left;
      border-radius: 30px; }
      .clients .clients-main-content .clients-item p {
        color: #fff;
        margin-top: 0; }
      .clients .clients-main-content .clients-item .client-container {
        width: 235px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .clients .clients-main-content .clients-item .client-container img {
          flex: 0 0 auto; }
        .clients .clients-main-content .clients-item .client-container .info {
          height: 55px; }
          .clients .clients-main-content .clients-item .client-container .info p {
            text-transform: uppercase;
            margin: 0; }

.call {
  box-sizing: border-box;
  padding: var(--top-padding) 0 var(--bottom-padding) 0;
  background-color: var(--orange-color); }
  .call h2 {
    color: #000; }
  .call h1 {
    font-size: 4.26em; }

footer {
  box-sizing: border-box;
  padding: var(--top-padding) 0 var(--bottom-padding) 0;
  background: url("../assets/images/footer-bg.jpg") no-repeat top center;
  background-size: cover; }
  footer .container {
    display: flex;
    justify-content: space-between; }
    footer .container .footer-item {
      flex: 0 0 340px;
      position: relative;
      text-align: left;
      color: #fff; }
      footer .container .footer-item h4 {
        color: #fff;
        margin-bottom: 80px; }
      footer .container .footer-item::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 8px;
        top: 65px;
        background-color: var(--orange-color); }
    footer .container .about .social-links {
      width: 140px;
      display: flex;
      justify-content: space-between; }
      footer .container .about .social-links a {
        flex: 0 0 auto;
        display: block;
        width: 26px;
        height: 26px;
        background-image: url("../assets/images/sprite.png");
        transition: opacity .3s ease, transform .2s ease; }
        footer .container .about .social-links a:hover {
          opacity: 0.5; }
        footer .container .about .social-links a:active {
          transform: scale(0.9); }
      footer .container .about .social-links .social-1 {
        background-position: -20px -232px; }
      footer .container .about .social-links .social-2 {
        background-position: -20px -273px; }
      footer .container .about .social-links .social-3 {
        background-position: -19px -313px; }
    footer .container .download-footer-item {
      display: flex;
      justify-content: space-between;
      width: 185px;
      margin-bottom: 10px; }
      footer .container .download-footer-item a {
        display: block;
        width: 25px;
        height: 30px;
        background-image: url("../assets/images/sprite.png");
        transition: opacity .3s ease, transform .2s ease; }
        footer .container .download-footer-item a:hover {
          opacity: 0.5; }
        footer .container .download-footer-item a:active {
          transform: scale(0.9); }
      footer .container .download-footer-item .android {
        background-position: -19px -354px; }
      footer .container .download-footer-item .ios {
        background-position: -19px -405px; }
    footer .container .contact .contact-item {
      display: flex;
      margin-bottom: 20px; }
      footer .container .contact .contact-item .ico-container {
        flex: 0 0 auto;
        margin-right: 25px;
        width: 20px;
        height: 25px;
        background-image: url("../assets/images/sprite.png"); }
      footer .container .contact .contact-item .ico-container-1 {
        background-position: -18px -588px; }
      footer .container .contact .contact-item .ico-container-2 {
        background-position: -18px -453px; }
      footer .container .contact .contact-item .ico-container-3 {
        background-position: -18px -500px; }
      footer .container .contact .contact-item .ico-container-4 {
        background-position: -16px -548px; }
      footer .container .contact .contact-item p {
        margin: 0; }

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: Lato; }
  body:hover {
    cursor: default; }

.container {
  margin: 0 auto;
  width: 1193px;
  text-align: center; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 1.94em;
  color: var(--orange-color); }

h3 {
  font-size: 1.69em; }

h4 {
  font-size: 1.4em;
  color: var(--orange-color); }

h5 {
  font-size: 1.1em;
  color: var(--orange-color);
  margin: 0; }

h1, h2, h3, h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold; }

.btn {
  box-sizing: border-box;
  border: none;
  color: #000;
  text-transform: uppercase;
  font-size: 1.64em;
  font-family: "Bebas Neue";
  padding: 5px 30px;
  border-radius: 5px;
  background-color: var(--orange-color);
  transition: transform 0.3s ease; }
  .btn:hover {
    cursor: pointer; }
  .btn:active {
    transform: scale(1.05); }

:focus {
  outline: none; }
