footer {
  box-sizing: border-box;
  padding: var(--top-padding) 0 var(--bottom-padding) 0;
  background: url("../img/footer-bg.jpg") no-repeat top center;
  background-size: cover; }
  footer .container {
    display: flex;
    justify-content: space-between; }
    footer .container .footer-item {
      flex: 0 0 340px;
      position: relative;
      text-align: left;
      color: #fff; }
      footer .container .footer-item h4 {
        color: #fff;
        margin-bottom: 80px; }
      footer .container .footer-item::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 8px;
        top: 65px;
        background-color: var(--orange-color); }
    footer .container .about .social-links {
      width: 140px;
      display: flex;
      justify-content: space-between; }
      footer .container .about .social-links a {
        flex: 0 0 auto;
        display: block;
        width: 26px;
        height: 26px;
        background-image: url("../img/sprite.png");
        transition: opacity .3s ease, transform .2s ease; }
        footer .container .about .social-links a:hover {
          opacity: 0.5; }
        footer .container .about .social-links a:active {
          transform: scale(0.9); }
      footer .container .about .social-links .social-1 {
        background-position: -20px -232px; }
      footer .container .about .social-links .social-2 {
        background-position: -20px -273px; }
      footer .container .about .social-links .social-3 {
        background-position: -19px -313px; }
    footer .container .download-footer-item {
      display: flex;
      justify-content: space-between;
      width: 185px;
      margin-bottom: 10px; }
      footer .container .download-footer-item a {
        display: block;
        width: 25px;
        height: 30px;
        background-image: url("../img/sprite.png");
        transition: opacity .3s ease, transform .2s ease; }
        footer .container .download-footer-item a:hover {
          opacity: 0.5; }
        footer .container .download-footer-item a:active {
          transform: scale(0.9); }
      footer .container .download-footer-item .android {
        background-position: -19px -354px; }
      footer .container .download-footer-item .ios {
        background-position: -19px -405px; }
    footer .container .contact .contact-item {
      display: flex;
      margin-bottom: 20px; }
      footer .container .contact .contact-item .ico-container {
        flex: 0 0 auto;
        margin-right: 25px;
        width: 20px;
        height: 25px;
        background-image: url("../img/sprite.png"); }
      footer .container .contact .contact-item .ico-container-1 {
        background-position: -18px -588px; }
      footer .container .contact .contact-item .ico-container-2 {
        background-position: -18px -453px; }
      footer .container .contact .contact-item .ico-container-3 {
        background-position: -18px -500px; }
      footer .container .contact .contact-item .ico-container-4 {
        background-position: -16px -548px; }
      footer .container .contact .contact-item p {
        margin: 0; }
